<div>
    <x-login-form v-model="user" v-if="!user" />

    <template v-else>
        <x-owner-nav selected="invoice" />

        <div class="visible-xs text-center">
            <button type="button" class="btn btn-info btn-block toggle-index" data-toggle="visible" data-target="#sidebar" aria-expanded="false" aria-controls="sidebar"><i class="fa fa-list"></i> Toggle Index</button>
            <br>
        </div>
        <div class="row">

            <section id="sidebar" class="col-xs-12 col-sm-2 sidebar">
                <ul class="nav nav-sidebar nav-sidebar-sticky">
                    <!--<li>-->
                        <!--<input id="search" type="search" class="form-control sidebar-search" placeholder="Search" v-model="query" autofocus style="padding-right:2em;">-->
                        <!--<span class="search-clear" @click="query = ''" v-show="query"><i class="fa fa-times-circle"></i></span>-->
                    <!--</li>-->
                    <li :class="{active: !params.slug}">
                        <a class="index-anchor" href="#/invoice/new" tabindex="-1"><span class="fa fa-plus"></span> Add New Invoice</a>
                    </li>
                </ul>

                <template v-for="(index_list, index_key) in index" v-if="index_list.length">
                    <div class="nav-sidebar-title bg-primary"><strong v-text="InvoiceStatusOptions.types[index_key]"></strong></div>
                    <ul class="nav nav-sidebar nav-sidebar-content">
                        <li :class="{active: index_list_item.slug === params.slug, warning: index_list_item.is_incomplete}" v-for="index_list_item in index_list">
                            <a class="index-anchor" :href="'#/invoice/v/' + index_list_item.slug"><i class="fa fa-book"></i> <span v-text="index_list_item.client + ' - ' + index_list_item.title"></span></a>
                        </li>
                    </ul>
                </template>

                <div class="text-center hidden-sm hidden-md hidden-lg">
                    <div class="btn btn-link" data-toggle="visible" data-target="#sidebar">Close</div>
                </div>
                <hr class="hidden-sm hidden-md hidden-lg mv-20" />
            </section>

            <section class="col-xs-12 col-sm-10 col-sm-offset-2 main">
                <br>
                <div class="form-inline">

                    <div class="form-group">
                        <input type="text" class="form-control input-lg borderless w-300" v-model="invoice.title">
                        <div class="under-label">Title</div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg borderless" v-model="invoice.client">
                        <div class="under-label">Client</div>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control input-lg borderless w-100" v-model="invoice.rate" step="5">
                        <div class="under-label">Rate</div>
                    </div>

                    <div class="form-group">
                        <div class="dropdown pointer">
                            <div type="button" class="btn btn-lg dropdown-toggle w-150"
                                    :class="'btn-' + InvoiceStatusOptions.colors[invoice.status]"
                                    id="statusDropdownButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                {{InvoiceStatusOptions.types[invoice.status]}}
                                <span class="pull-right"><i class="fa fa-chevron-down"></i></span>
                            </div>
                            <div class="dropdown-menu" aria-labelledby="statusDropdownButton">
                                <li v-for="(so_name, so_key) in InvoiceStatusOptions.types" @click="$set(invoice, 'status', so_key)"><a class="pointer" v-text="so_name"></a></li>
                            </div>
                        </div>

                        <div class="under-label">&nbsp;</div>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-lg" @click="saveInvoice()"><i class="fa fa-save"></i> Save</button>
                        <div class="under-label">&nbsp;</div>
                    </div>

                </div>

                <div class="invoice--totals mt-20 ml-5">
                    <small class="pr-20">Worth: <strong class="text-success" v-text="'$' + numberFormat(total_worth, 2)"></strong></small>
                    <small class="pr-20">Hours: <strong class="text-success" v-text="total_hours"></strong></small>

                    <small class="pr-20 pull-right"><a class="text-muted" :href="'/api/invoice/download-csv?slug=' + invoice.slug"><i class="fa fa-download"></i> Download CSV</a></small>
                </div>

                <hr class="mb-20 clearfix">

                <table class="table table-bordered card hidden-xs">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Notes</th>
                        <th width="100">Date</th>
                        <th width="100">Start</th>
                        <th width="100">End</th>
                        <th width="80">Elapsed</th>
                        <th class="text-center"><i class="fa fa-save"></i></th>
                        <th class="text-center"><i class="fa fa-ellipsis-v"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(task, task_i) in tasks">
                        <td class="td-input"><input class="form-control" type="text" v-model="task.title"></td>
                        <td class="td-input"><input class="form-control" type="text" v-model="task.notes"></td>
                        <td class="td-input"><input class="form-control" type="date" v-model="task._date"></td>
                        <td class="td-input"><input class="form-control" :class="{'text-muted': !task._time_start_valid}" type="time" v-model="task._time_start"></td>
                        <td class="td-input"><input class="form-control" :class="{'text-muted': !task._time_end_valid}" type="time" v-model="task._time_end"></td>
                        <td>
                            <span class="field-text" v-text="task._elapsed" v-if="task._elapsed"></span>
                            <span class="field-text text-muted" v-text="task._elapsed_est"></span>
                        </td>
                        <td class="td-button"
                            @click="saveTask(task_i)"
                            :class="{'bg-warning': !task._complete}">
                            <i class="fa fa-save"></i>
                        </td>
                        <td class="td-button dropdown">
                            <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v"></i>
                            </div>
                            <ul class="dropdown-menu">
                                <li @click="deleteTask(task_i)"><a class="text-danger" href="#" @click.prevent><i class="fa fa-trash"></i> Delete</a></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <ul class="visible-xs list-group card">
                    <li v-for="(task, task_i) in tasks" class="list-group-item">

                        <div class="form-group">
                            <label>Title</label>
                            <input class="form-control" type="text" v-model="task.title">
                        </div>
                        <div class="form-group">
                            <label>Notes</label>
                            <input class="form-control" type="text" v-model="task.notes">
                        </div>
                        <div class="form-group">
                            <label>Date</label>
                            <input class="form-control" type="date" v-model="task._date">
                        </div>
                        <div class="form-group">
                            <label>Start</label>
                            <input class="form-control" :class="{'text-muted': !task._time_start_valid}" type="time" v-model="task._time_start">
                        </div>
                        <div class="form-group">
                            <label>End</label>
                            <input class="form-control" :class="{'text-muted': !task._time_end_valid}" type="time" v-model="task._time_end">
                        </div>
                        <div class="form-group">
                            <label>Elapsed</label>
                            <span class="field-text" v-text="task._elapsed" v-if="task._elapsed"></span>
                            <span class="field-text text-muted" v-text="task._elapsed_est"></span>
                        </div>

                        <div class="form-group text-center">
                            <button type="button" class="btn btn-default btn-block" @click="saveTask(task_i)" :class="{'btn-warning': !task._complete}">
                                Save
                                <i class="fa fa-save"></i>
                            </button>

                            <button type="button" class="btn btn-danger btn-block" @click="deleteTask(task_i)">Delete <i class="fa fa-trash"></i></button>
                        </div>

                    </li>
                </ul>


                <hr class="mv-20">
                <div class="form-group">
                    <label>Notes</label>
                    <textarea class="form-control borderless h-200" v-model="invoice.notes"></textarea>
                    <button type="button" class="btn btn-success" @click="saveInvoice()"><i class="fa fa-save"></i> Save</button>
                </div>


            </section>

        </div>

    </template>
</div>